<div class="center">
  <h3>Your Bookmarks</h3>
  <app-loader [loading]="loading"></app-loader>
</div>

<div class="bookmarks-container" *ngIf="!loading">
  <input [(ngModel)]="searchText" placeholder="Search">
  
  <ul>
    <div class="row">
      <li *ngFor="let bookmark of bookmarks | filter : searchText | paginate: { itemsPerPage: 20, currentPage: p }">

        <div class="col s2 m3">
          <div class="card small grey lighten-3">
            <div class="card-content" [ngClass]="{'add-length': moreTags}">
              <!-- When this link is clicked, add to our view count -->
              <span class="card-title"><a href="{{bookmark.url}}" target="_blank" (click)="increaseViewCount(bookmark.id)">{{ bookmark.name }}</a></span>
              <p>Views: {{bookmark.view_count}}</p>

              <div class="tags flex-container">
                <p>Tags:</p>
                <ul class="flex-container" *ngIf="!moreTags">
                  <!-- We want to keep the initial list of tags small to fit the card
                       but we want a "more" button that will expand the card to show all of the tags -->
                  <li *ngFor="let tag of bookmark.tags; let i=index">
                    <div class="tag" *ngIf="i<5">
                      <button class="btn">{{tag.name}}</button>
                    </div>
                    <div class="more-tags" *ngIf="i==6">
                      <button class="btn activator">more...</button>
                    </div>
                  </li>
                </ul>

              </div>

            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{bookmark.name}}<i class="material-icons right">close</i></span>
              <ul class="flex-container">
                <li *ngFor="let tag of bookmark.tags">
                  <div class="tag">
                    <button class="btn">{{tag.name}}</button>
                  </div>
                </li>
              </ul>
            </div>

            <div class="card-action center">  
              <!-- This favorite_border should switch to 'favorite' when clicked / already favorited in the backend
                and the link should go to a 'like' or 'favorite' feature in the backend -->
              <button class="btn-flat"><i class="material-icons grey-text">favorite_border</i></button>
              <button class="btn-flat" [routerLink]="['/edit', bookmark.id]"><i class="material-icons grey-text">edit</i></button>
              <button class="btn-flat center" (click)="deleteBookmark(bookmark.id)"><i class="material-icons grey-text">delete</i></button>
            </div> <!-- end card-action -->
          </div> <!-- end card small -->
        </div> <!-- end col s2 m3 -->
          
      </li> <!-- end bookmarks loop -->
    </div> <!-- end row -->
  </ul>
  
  <pagination-controls (pageChange)="p = $event" (click)="scrollUp()"></pagination-controls>
</div>
  
  