# Ignore bundler config.
booklock_rails/.bundle

# Ignore the default SQLite database.
booklock_rails/db/*.sqlite3
booklock_rails/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
booklock_rails/log/*
!booklock_rails/log/.keep
booklock_rails/tmp

/notes